@page "/bio"
@using DogShowApp.Shared.Data
@inject HttpClient Http

<PageTitle>Dog and Trainer Bios</PageTitle>

<h1>Dog and Trainer Bio's</h1>


@if (bioList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DataGrid TItem="Event"
          Data="@eventList"
          @bind-SelectedRow="@selectedEvent"
          Responsive>
        <DataGridCommandColumn />
        <DataGridColumn Field="@nameof(Event.Date)" Caption="Date" Sortable="false" />
        <DataGridColumn Field="@nameof(Event.Time)" Caption="Time" />
        <DataGridColumn Field="@nameof(Event.EventName)" Caption="Event Name" />
        <DataGridColumn Field="@nameof(Event.EventDescription)" Caption="Description" />

    </DataGrid>
}


@code {
    public class TempBio
    {
        public 
        private List<Event>? eventList;
        private Event? selectedEvent;

        protected override async Task OnInitializedAsync()
        {
            eventList = await Http.GetFromJsonAsync<List<Event>>("Event");
        }
    }
}