@page "/fetchbio"
@using DogShowApp.Shared.Data
@inject HttpClient Http

<PageTitle>Biographies</PageTitle>

<h1>Dog/Trainer Biographies</h1>

<p></p>

@if (bioList == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <DataGrid TItem="Bio"
              Data="@bioList"
              @bind-SelectedRow="@selectedBio"
              Responsive>
            <DataGridCommandColumn />
            <DataGridColumn Field="@nameof(Bio.DogName)" Caption="Dog's Name:'" Sortable="false" />
        <DataGridColumn Field="@nameof(Bio.DogDescription)" Caption="Bio: " />
        <DataGridColumn Field="@nameof(Bio.TrainerName)" Caption="Trainer's Name:" />
        <Figure Size="FigureSize.Is256x256">
            <FigureImage Source="img/IMG_4018.jpg" />
        </Figure>

        </DataGrid>
}


@code {

    private List<Bio>? bioList;
    private Bio? selectedBio;

    protected override async Task OnInitializedAsync()
    {
        bioList = await Http.GetFromJsonAsync<List<Bio>>("Bio");
    }

}