@page "/fetchbio"
@using DogShowApp.Shared.Data
@inject HttpClient Http

<PageTitle>Biographies</PageTitle>

<h1>Dog/Trainer Biographies</h1>

<p></p>



@if (bioList == null)
{
        <p><em>Loading...</em></p>
}
else
{
  
        
    
        <DataGrid TItem="Bio"
              Data="@bioList"
              @bind-SelectedRow="@selectedBio"
              Responsive>
            <DataGridCommandColumn />
            <DisplayTemplate>
     
    </DisplayTemplate>
        <DataGridColumn Field="@nameof(Bio.DogName)" Caption="Dog's Name:'" Sortable="false" /> 
        <DataGridColumn Field="@nameof(Bio.DogDescription)" Caption="Bio: " />
        <DataGridColumn Field="@nameof(Bio.TrainerName)" Caption="Trainer's Name:" />
        
      
        
        
        <Figure Size="FigureSize.Is256x256">
            <FigureImage Source="@bio.DogImageURL" />
            <FigureCaption>@nameof(Bio.TrainerName)</FigureCaption>
        </Figure>
        <Figure Size="FigureSize.Is256x256">
            <FigureImage Source=Bio.DogImageURL />
        </Figure>
        
        </DataGrid>
    <asp:Image ID=Bio.DogImageURL runat="server" />











}


@code {
    Bio bio = new Bio();
    public string yoko = "https://www.quotationof.com/images/eric-wareheim-6.jpg";
    private string selectedSlide = "2";
    private List<Bio>? bioList;
    private Bio? selectedBio;

    protected override async Task OnInitializedAsync()
    {
        bioList = await Http.GetFromJsonAsync<List<Bio>>("Bio");
    }

}